@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --color-primary-orange: hsl(25,97%,53%);
    --color-neutral-white: hsl(0,0%,100%);
    --color-neutral-light-grey: hsl(217, 12%,63%);
    --color-dark-dark-blue: hsl(213,19%,18%);
    --color-dark-dark-blue-gradient: radial-gradient(at top,hsl(213,19%,18%), hsl(213,19%,18%, 0.3));
    --color-dark-very-dark-blue: hsl(216,12%,8%);
}

* {
    list-style-type: none;
    font-family: 'Overpass', sans-serif;
    color: var(--color-neutral-white);
}

*[form-visible="false"] {
    display:none;
}

body {
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-very-dark-blue);
}

.circle {
    background-color:hsl(217, 12%,63%,0.08);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-bottom: .75rem;
    margin-top: 1rem;
}

.rating:hover {
    cursor: pointer;
    background-color: var(--color-primary-orange);
    color: var(--color-neutral-white);
    transition: all 0.2s ease-in-out;
}

.star_icon_container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-light-grey);
    font-size: 15px;
}

p {
    color: var(--color-neutral-light-grey);
    font-size: 13.5px;
    font-weight: 400;
    line-height: 1.5rem;
}

.container {
    background: var(--color-dark-dark-blue-gradient);
    width: min(76%, 23rem);
    border-radius: 1.5rem;
    padding: 1.75rem;
}

button {
    color: var(--color-neutral-white);
    background-color: var(--color-primary-orange);
    border: none;
    width: 100%;
    height: 2.75rem;
    border-radius: 1.5rem;
    letter-spacing: .15rem;
    cursor: pointer;
    margin-top: 0;
}

button:hover {
    background-color: var(--color-neutral-white);
    color: var(--color-primary-orange);
    transition: all 0.2s ease-in-out;
}

.feedback_submitted[form-visible="true"] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rating_statement {
    color: var(--color-primary-orange);
    background-color: var(--color-dark-dark-blue);
    border-radius: 1.5rem;
    padding: 0.25rem 1rem;
}

.feedback_submitted > p {
    text-align: center;
}

.attribution {
    margin-top: 2rem;
}