@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --color-primary-orange: hsl(25,97%,53%);
    --color-neutral-white: hsl(0,0%,100%);
    --color-neutral-light-grey: hsl(217, 12%,63%);
    --color-dark-dark-blue: hsl(213,19%,18%);
    --color-dark-dark-blue-gradient: radial-gradient(at top,hsl(213,19%,18%), hsl(213,19%,18%, 0.3));
    --color-dark-very-dark-blue: hsl(216,12%,8%);
}

* {
    list-style-type: none;
    font-family: 'Overpass', sans-serif;
    color: var(--color-neutral-white);
}

body {
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-very-dark-blue);
}

.circle {
    background-color:hsl(217, 12%,63%, 0.08);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.star_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
}

ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-light-grey);
}

p {
    color: var(--color-neutral-light-grey);
    font-size: 15px;
    font-weight: 400;
    padding: 0;
}

.container {
    background: var(--color-dark-dark-blue-gradient);
    width: 80%;
    border-radius: 1.5rem;
    padding: 1.75rem;
}

button {
    color: var(--color-neutral-white);
    background-color: var(--color-primary-orange);
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    letter-spacing: .15rem;
}